@font-face {
    font-family: 'Strait';
    src: url('Strait-Regular.woff2') format('woff2'),
        url('Strait-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

